body {
    width: 100vw;
    height: 100vh;
    margin: unset;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: unset;
}

img {
    border-radius: 4em;
    border: 2px solid;
    width: 100px;
    height: 100px;
}

img.male {
    border-color: black;
}

img.female {
    border-color: pink;
}

button {
    border: unset;
    padding: 1em;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}

button.male {
    background-color: #303134;
}

button.female {
    background-color: pink;
}